<section id="about-page">
  <div id="info-hidden">
    <span id="title">The Achaar Walas - About us</span>
  </div>
  <div id="hero-div">
    <button class="btn" id="prev-btn"></button>
    <img alt="" id="img" />
    <button class="btn" id="next-btn"></button>
  </div>

  <script>
    const images = ["vaibhav-1", "vaibhav-2", "vaibhav-3", "vaibhav-4"];
    const imagesURL = "../../../images/";
    let imageIndex = 0;
    const img = document.getElementById("img");
    const prevBtn = document.getElementById("prev-btn");
    const nextBtn = document.getElementById("next-btn");

    prevBtn.addEventListener("click", () => {
      imageIndex -= 1;
      imageIndex = imageIndex < 0 ? images.length - 1 : imageIndex;
      showImage(imageIndex);
    });
    nextBtn.addEventListener("click", () => {
      imageIndex += 1;
      imageIndex = imageIndex >= images.length ? 0 : imageIndex;
      showImage(imageIndex);
    });
    function showImage() {
      img.src = `/system/images/${images[imageIndex]}.jpeg`;
    }

    showImage(imageIndex);
  </script>
</section>
