<section id="forgot-pswrd-page" class="pt-2rem">
  <div id="info-hidden">
    <span id="title">Recover Password</span>
  </div>
  <div id="main-view">
    <div class="form-container">
      <div class="form-header">
        <h3>Recover Your Password</h3>
      </div>
      <form action="/api/user/password/reset" method="post" class="form-body">
        <div class="form-field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>

        <button type="submit" class="btn btn-submit">Submit</button>
      </form>
      <div class="form-footer">
        <p>Don't have an account? <a href="/web/user/register">Register</a></p>
        <a href="/web/user/password/forgot">Forgot Password</a>
      </div>
    </div>
  </div>
</section>
