<section id="forgot-pswrd-page">
  <div id="info-hidden">
    <span id="title">The Achaar Walas - Forgot Password</span>
  </div>
  <div id="main-view">
    <h2>Recover Password</h2>
  </div>
</section>
