<section id="register-page" class="pt-2rem">
  <div id="info-hidden">
    <span id="title">The Achaar Walas - Register</span>
  </div>
  <div id="main-view">
    <div class="form-response">
      <% if(locals.errors){%>

      <ul class="form-error">
        <% errors.forEach(error => {%>
        <li><%= error %></li>
      </ul>
      <%})%> <%} else if(locals.success){ %>
      <p class="form-success"><%= success %></p>
      <%}%>
    </div>
    <div class="form-container">
      <div class="form-header">
        <h3>Please fill your details</h3>
      </div>
      <form action="/web/user/register" method="post" class="form-body">
        <div class="form-field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="form-field" id="pswrd-field">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="form-field">
          <label for="phone">Phone</label>
          <input type="tel" name="phone" id="phone" />
        </div>
        <button type="submit" class="btn btn-submit">Submit</button>
      </form>
      <div class="form-footer">
        <p>Already have an account? <a href="/web/user/login">Login</a></p>
        <a href="/web/user/password/forgot">Forgot Password</a>
      </div>
    </div>
  </div>
</section>
