<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <!-- always make absolute paths -->
    <link
      rel="stylesheet"
      href="/system/css/layouts/nulluser.css"
      type="text/css"
    />
    <link
      rel="shortcut icon"
      href="/system/images/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <div id="info">
        <div id="logo"></div>
        <div id="text">
          <h1 id="heading">The Achaar Walas</h1>
          <p id="tagline">Made with Love</p>
        </div>
      </div>
      <nav id="top">
        <ul id="top-nav">
          <li>
            <a href="/" id="home" itemid="home">Home</a>
          </li>
          <li><a href="/web/user/register" id="try-us">Try Us</a></li>
        </ul>
      </nav>
    </header>
    <main><%- body%></main>
    <script>
      document.getElementsByTagName("title")[0].textContent =
        document.getElementById("title").textContent;
      let obj = {
        "/web/user/register": "try-us",
        "/": "home",
      };
      document
        .getElementById(obj[location.pathname])
        .classList.add("link-selected");
    </script>
  </body>
</html>
